@use "util.scss" as *;

.mypage-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;

  a {
    width: 100%;
    height: 100%;
    @include linkTextDecorate;
    color: #000;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-item:hover {
    box-shadow: 0px 0px 20px #c5e1ff;
    background-color: #c4dbff0e;
  }

  .card-item {
    width: 350px;
    height: 140px;
    border: 1px solid black;
    margin: 0 30px 30px 0;
    transition: 0.3s;

    span {
      text-align: left;
      margin: 10px 0 0 10px;
    }
    .moreBtn {
      text-align: end;
    }
    img {
      width: 140px;
      height: auto;
      margin-right: 10px;
    }
  }
}
