$main-color: #294be7;
$btn-blue: #3e61ff;
$btn-yellow: #ffde59;
$kakao-brown: #81583b;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 2048px;

@mixin linkTextDecorate() {
  text-decoration: none;
  color: $main-color;
}

@font-face {
  font-family: "malssami815";
  src: url("./fonts/malssami815.otf");
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-large-desktop - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$breakpoint-large-desktop}) {
    @content;
  }
}
